.creator-main {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 0px;
	// background-color: #004D40a0;

	display: inline-grid;
	grid-template-areas: "options navigation" "options apply";
	grid-template-columns: auto fit-content(100%);
	grid-template-rows: fit-content(100%) 1fr;
    align-items: start;
	//grid-column-gap: 20px;

	& > nav {
		grid-area: navigation;
		white-space: nowrap;
		box-shadow: 0px 2px 6px #0008;
		margin: 10px;
		
		button {
			display: block;
			width: 100%;
			
			margin: 0px;
			border-radius: 0px;
			box-shadow: none;

			$borderparam: 2px solid #009688;

			border-left: $borderparam;
			border-right: $borderparam;
			&:first-child {
				border-top: $borderparam;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			&:last-child {
				border-bottom: $borderparam;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			background-color: #00241eb3;

			transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

			&.current {
				background-color: #902909b3;
				border-color: #FF5722;
			}

			&:not(.current):hover {
				background-color: #00695C;
			}

			&:not(:last-child) {
				border-bottom: 1px solid #009688;
			}
		}
	}

	& > .options {
		text-align: center;
		grid-area: options;
		margin: 10px;
		background-color: #00241eb3;
		border: 1px solid #009688;
		border-top-width: 2px;
		border-radius: 5px;
		// border-bottom-width: 2px;
		box-shadow: 0px 2px 6px #0008;
		padding: 10px;
		max-height: 95vh;
		overflow-y: auto;

		min-width: 250px;

		* {
			margin: auto;
			min-width: auto;
		}

		& > * {
			//show in animation
			opacity: 0;
			animation: show-in 0.5s cubic-bezier(.87,-.41,.19,1.44) forwards;

			@keyframes show-in {
				0% {
					opacity: 0;
					transform: translateY(-50px);
				}
				100% {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			@for $i from 2 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: ($i - 1) * 0.05s;
				}
			}
		}

		hr {
			background-color: #00695C;
		}

		form > input, form > label, & > input, & > label {
			display: block;
			margin: 5px 0px;
			margin-left: auto;
			margin-right: auto;
			// text-align: center;
		}

		button {
			background-color: #03A9F4;
		}

		input {
			background-color: #80DEEA40;
			min-width: 65px;

			&:not(:valid) {
				// background-color: #e58a8a80;
				border-color: #ef5350;
			}
			// border-top: 1px solid #006064;
			// border-bottom: 1px solid #006064;
			// border-radius: 0px;
		}

		.one-liner {
			display: inline-grid;
			grid-template-rows: auto;
			grid-column-gap: 0px;
			justify-items: center;

			input {
				border-radius: 0px;
			}
			button {
				// width: 100%;
			}
		}

		.gender-buttons button {
			$size: 35px;
			border-radius: $size;
			height: $size;
			width: $size;
			font-size: 21px;
			font-weight: bold;

			transition: transform 0.5s cubic-bezier(.87,-.41,.19,1.44),
				box-shadow 0.5s ease-in-out;

			&:hover, &.selected {
				box-shadow: 0px 0px 2px #fff8;
				transform: scale(1.2);
			}
		}
	}

	& > .apply-button {
		grid-area: apply;
		width: 110px;
		height: 50px;
		// line-height: 50px;
		margin: auto;
		margin-top: 10px;
		align-self: start;
		background-color: #00241eb3;
		box-shadow: 0px 2px 6px #0008;
		border-radius: 5px;

		transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

		border: 1px solid #009688;
		&:hover {
			border-color: #FF5722;
			background-color: #902909b3;
		}
		
	}

	.variation-box {
		$bcolor: #009688;//009688;//FF8A65
		$bhcolor: #FF8A65;
		$banim: 0.3s ease-in-out;
		$labelH: 20px;

		//background-color: red;
		border-bottom: 1px solid $bcolor;
		transition: border-color $banim;
		transition-delay: 0.2s;
		box-shadow: 0px 3px 3px #0004;
		padding-bottom: 10px;

		position: relative;
		overflow: hidden;

		&:not(:first-child) {
			margin-top: 10px;
		}

		/*display: flex;
		flex-direction: row;
		flex-wrap: wrap;*/

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			border-left: 1px dashed $bcolor;
			border-right: 1px dashed $bcolor;
			transition: border-color $banim;
			transition-delay: 0.1s;
			position: absolute;
			z-index: 1;
			pointer-events: none;
			left: 0px;
			top: $labelH / 2;
			background-color: #80CBC430;
		}

		& > * {
			position: relative;
			z-index: 2;
		}

		& > div {
			display: inline-block;
			margin: 0px 10px;
		}

		& > label {
			margin-bottom: 5px;
			display: grid;
			width: 100%;
			height: $labelH;
			line-height: $labelH;
			
			grid-template-columns: 1fr auto 1fr;
			grid-column-gap: 10px;
			align-items: center;
			&::before, &::after {
				content: "";
				display: block;
				height: 1px;
				background-color: $bcolor;
				transition: background-color $banim;
			}
		}

		& > :not(label) {
			// background-color: red;
			& > * {
				display: block;
				width: 80px;
			}
		}

		&:hover, &:hover::before {
			border-color: $bhcolor;
		}
		&:hover > label::before, &:hover > label::after {
			background-color: $bhcolor;
		}
	}

	.two-columns {
		display: grid !important;
		width: 242px;
		align-items: center;
		// justify-content: stretch;
		// justify-items: stretch;
		grid-template-columns: auto fit-content(100%);
		grid-template-rows: min-content;
		grid-column-gap: 5px;
		grid-row-gap: 5px;

		& > *:nth-child(odd) {
			text-align: right;
			width: max-content;
		}
		& > *:nth-child(even){
			// justify-self: left;
		}
		& > * {
			margin: 0px;
		}
	}
}